.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.content {
  width: 25rem;
  display: flex;
  align-items: center;
}
.content-img {
  width: 10rem;
  height: 10rem;
}
.content-img img {
  border-radius: 2rem;
  box-shadow: 2px 2px 10px black;
}
.content-txt {
  margin: 0 auto;
}
.content-txt h1 {
  font-size: 2rem;
  color: blue;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 2px;
}
.content-txt p {
  color: blue;
  font-style: italic;
}
